body {
  font-family: monospace;
  font-size: 100%;
  background-color: white;
  color: #111;
  min-height: 200px;
  padding: 1em;
  /* margin: 5% 10%; */
  margin: 5% auto 5% auto;
  border: thin solid gray;
  border-radius: 5px;
  display: block;
  text-align: center;
  max-width: 1000px;
}

.hero-image {
margin-bottom: 2em;
  
}

/* .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */

a:link    { color: black; text-decoration: underline;      }
a:hover   { color: green; text-decoration:inherit; }
a:visited { color: blue;                             }
/* 
h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important } */

/* #menu li {
    display: inline list-item;
} */

/* #post-list {
    margin-bottom: 1em;
    margin-top: 1em;
} */

pre {
    margin: 2em 1em 2em 4em;
}

#banner {
color: black;
visibility: hidden;
}

/*gumroad  modal */

/* product-display {
  max-width: 500px !important;
}
 */

 .gumroad-follow-form-embed button {
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
	-webkit-transition: all .05s ease-in-out;
	transition: all .05s ease-in-out;
	display: inline-block;
	padding: 11px 15px 12px;
	cursor: pointer;
	color: #fff;
	font-size: 15px;
	line-height: 100%;
	font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #008e00;
	border: 1px solid #008000;
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b426, endColorstr=#008300, GradientType=0)";
	/* background: -webkit-linear-gradient(#26b426, #008300); */
	background: linear-gradient(to bottom, #b8b8b8, #535953) !important;
	height: 40px !important;
	width: 35% !important;
}

.vid-contain {
  margin: auto;
  width: 60%;
  border: 1px solid grey;
  padding: 10px;
}
article {
    padding: 20px;
}

.entry-content div {
  padding: 20px;
}