<h2 class="centered">Contact Form</h2>

<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xgenedzv" method="post">
  <fieldset id="fs-frm-inputs">
    <input type="text" name="name" id="full-name" placeholder="First and Last" required>
    <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required>
    <textarea rows="5" name="message" id="message" placeholder="Type your message here." required></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
  </fieldset>
  <input type="submit" value="Submit">
</form>

<script>
function clearForm() {
  document.getElementById("fs-frm").reset();
}

window.onload = function() {
  document.getElementById("fs-frm").reset();
};
</script>
